<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search_add') }}">Search Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add') }}">Add Events</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='contact-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1> Search Events</h1>
              <span class="subheading"> You can search events by entering all your restrictions.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form class="container"  method="POST" action="{{ url_for('search_index') }}">
	    <div class = "control-group">
             <div class="form-group floating-label-form-group controls">
	       <label> Title </label>
               <input type="text" class="form-control" placeholder="Search by words in titles" name="title" id="title" >
                <p class="help-block text-danger"></p>
              </div>
            </div>	      
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Location</label>
                <textarea rows="5" class="form-control" placeholder="Search by location" name="location" id="location" ></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
	    <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>rname</label>
                <input type="text" class="form-control" placeholder="Search by speaker" name="rname" id="rname" >
                <p class="help-block text-danger"></p>
              </div>
            </div> 
	    <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>otitle</label>
                <input type="text" class="form-control" placeholder="Search by organization" name="otitle" id="otitle" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
	     <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>iname</label>
                <input type="textr" class="form-control" placeholder="Search by Institution" name="iname" id="iname" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>aname</label>
                <input type="text" class="form-control" placeholder="Search by Area" name="aname" id="aname" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>dname</label>
                <input type="text" class="form-control" placeholder="Search by Department" name="dname" id="dname">
                <p class="help-block text-danger"></p>
              </div>
            </div>
	    <div class = "control-group">
	      <div class= "form-group floating-label-form-group controls">
		<span>Search by Earliest Begin Time</span>
                <label>begin_time</label>
		<input type="datetime-local" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY     HH : mm"  min = min="2012-10-01T13:05:00+02+00"  placeholder="Search by earliest begin time" name="begin_time" id="begin_time" value = "31/12/2030 00:00" >
                <script>
                   $(function(){
                   $('#datetime24').combodate();  
                   });
                </script>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
		<span>Search by Latest End Time</span>
		<label>end_time</label>
		<input type="datetime-local" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY     HH : mm"  min = begin_time placeholder="end_time" name="end_time" id="end_time" value = "31/12/2030 00:00" >
                <script>
                   $(function(){
                   $('#datetime24').combodate();  
                   });
                </script>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label> food_info</label>
		<fieldset>
                  <legend>Search by Food</legend>
		      <input type="checkbox" id="food_info" name="food_info"  value = "food_info" >
                      <span> With Food </span>
		</fieldset>
	      </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>target_audience</label>
		<fieldset>
                  <legend>Search by Target Audience</legend>
                   <div>
                       <input type="checkbox" id="tg_faculty" name="tg_faculty" value="tg_faculty">
                       <span> Faculty </span>
                   </div>
                   <div>
                     <input type="checkbox" id="tg_pos" name="tg_pos" value="tg_pos">
                     <span> Postdoc </span>
		   </div>
                   <div>
                     <input type="checkbox" id="tg_phd" name="tg_phd" value="tg_phd">
                     <span> Ph.D. </span>
		   </div>
                   <div>
                     <input type="checkbox" id="tg_ms" name="tg_ms" value="tg_ms">
                     <span> Master </span>
		   </div>
		   <div>
                     <input type="checkbox" id="tg_under" name="tg_under" value="tg_under">
                     <span> Undergraduate </span>
		   </div>
                   <div>
                     <input type="checkbox" id="tg_visitor" name="tg_visitor" value="tg_visitor">
                     <span> Visitor </span>
		   </div>
                </fieldset>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>status</label>
		<fieldset>
                  <legend>Search by Speaker status</legend>
                   <div>
                       <input type="checkbox" id="st_faculty" name="st_faculty" value="st_faculty">
                       <span> Faculty </span>
                   </div>
                   <div>
                     <input type="checkbox" id="st_pos" name="st_pos" value="st_pos">
                     <span> Postdoc </span>
		   </div>
                   <div>
                     <input type="checkbox" id="st_phd" name="st_phd" value="st_phd">
                     <span> Ph.D. </span>
		   </div>
                   <div>
                     <input type="checkbox" id="st_ms" name="st_ms" value="st_ms">
                     <span> Master </span>
		   </div>
		   <div>
                     <input type="checkbox" id="st_under" name="st_under" value="st_under">
                     <span> Undergraduate </span>
		   </div>
                   <div>
                     <input type="checkbox" id="st_visitor" name="st_visitor" value="st_visitor">
                     <span> Visitor </span>
		   </div>
                </fieldset>
              </div>
            </div>
	    
	    <br>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>	  
      </div>	  
    </div>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Yiguang Zhang and Yiru Chen, 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src= "{{ url_for('static', filename='validator.min.js') }}></script>


    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
